.homepage-wrapper {
	.outer-container {
	    position: absolute;
	    top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
		background: url('/img/coverphoto.jpg');
		display: block;
	}
	.screen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(1, 1, 1, 0.3);
	}
}

.login-wrapper, .reg-wrapper, .sendemail-wrapper, .resetpwd-wrapper {
	form {
    	padding: 0 20px;
    }
    button {
    	width: 100%;
    }
    .panel-footer {
    	background: #fff;
    	padding: 20px;
    	margin: 0;
    	overflow: auto;
    }
}

.login-wrapper {
    .link {
    	font-size: 12px;
    	margin-top: 3px;
    }
    .checkbox {
    	padding: 0;
    	margin-bottom: 7px;
    }
    .panel-body {
    	padding: 15px 15px 8px;
    }
}

.covertext-wrapper {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
    z-index: 1;
    h1 {
    	font-size: 130px;
    	margin-bottom: 0;
    }
    p {
    	font-size: 30px;
    	font-weight: 100;
    	margin: -25px 0 32px;
    }
    a {
    	font-size: 22px;
    	font-weight: 700;
    	border-radius: 5px;
    	width: 250px;
    	padding: 10px 30px 6px;
    	display: inline-block;
    }
    .logo {
    	width: 600px;
    }
}

.createpost-wrapper {
	h1 {
		text-align: center;
	}
	form {
		border-radius: 5px;
		border-color: $subtext-color;
		h4 {
			color: $subtext-color;
			text-align: center;
			margin-top: 43px;
			span {
				color: $subtext-color;
				margin-left: 5px;
			}

		}
		&:hover {
			border-color: $primary-color;
			h4, span {
				color: $primary-color;
				cursor: pointer;
			}
		}
	}
}

.viewlistings-wrapper {
	table {
		width: 100%;
		thead {
			border-bottom: solid 3px $subtext-color;
		}
		th {
			text-transform: uppercase;
    		font-weight: $black;
    		padding: 10px 0;
		}
	}
}

.viewpost-wrapper {
	header {
		margin-bottom: 30px;
		li {
			display: block;
			a {
				color: darken($subtext-color, 15%);
				font-family: $sub-text, Arial;
				font-weight: $normal;
				display: inline-block;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}

	.desc-wrapper {
		padding: 15px 20px;
		background: #fff;
		label {
			transform: uppercase;
		}
	}

	.btn-purhcase {
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		width: 100%;
		padding: 10px;
	}

	.side-wrapper {
		margin-top: 130px;
		#light-gallery {
			background: #fff;
    		border: solid 1px $subtext-color;
    		border-radius: 3px;
			padding: 10px;
		}
		a {
			width: 150px;
			height: 150px;
			border: solid 1px $subtext-color;
			overflow: hidden;
			display: inline-block;
		}
		img {
			width: 100%;
			height: auto;
			margin: 10px 15px 0 0;
		}
	}
}

.profile-wrapper {
	.inner-wrapper {
		padding: 0 10px 10px;
    	overflow: auto;
    	img {
    		width: 100%;
    		height: auto;
    	}
    	h2 {
    		margin-bottom: 3px;
    	}
    	span {
    		color: darken($subtext-color, 15%);
    		font-size: 14px;
    		margin-bottom: 3px;
    	}
	}

	.sub-wrapper {
		background: none;
		margin: 0;
		.item-card {
			width: 22%;
			height: 350px;
			&:nth-child(4n) {
				margin-right: 0;
			}		
		}
	}
}
