.navbar {
	margin: 0;
}

.homepage-wrapper {
	.outer-container {
	    position: absolute;
	    top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
		background: url('/images/coverphoto.jpg');
		display: block;
	}
	.screen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(1, 1, 1, 0.3);
	}
}

.covertext-wrapper {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
    z-index: 1;
    h1 {
    	font-size: 130px;
    	margin-bottom: 0;
    }
    p {
    	font-size: 30px;
    	font-weight: 100;
    	margin-bottom: 32px;
    }
    a {
    	font-size: 26px;
    	font-weight: 700;
    	border-radius: 5px;
    	padding: 10px 30px 9px;
    }
}

.createpost-wrapper {
	h1 {
		text-align: center;
	}
}

.viewlistings-wrapper {
	table {
		width: 100%;
		thead {
			border-bottom: solid 3px $subtext-color;
		}
		th {
			text-transform: uppercase;
    		font-weight: $black;
    		padding: 10px 0;
		}
	}
}

.viewpost-wrapper {
	header {
		li {
			display: block;
			a {
				display: inline-block;
			}
		}
	}

	.desc-wrapper {
		padding: 15px 20px;
		background: #fff;
		label {
			transform: uppercase;
		}
	}

	.btn-purhcase {
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		width: 100%;
		padding: 10px;
	}
}

.profile-wrapper {
	.inner-wrapper {
		padding: 0 10px 30px;
    	overflow: auto;
    	img {
    		width: 100%;
    	}
    	h2 {
    		margin-bottom: 3px;
    	}
    	span {
    		color: darken($subtext-color, 15%);
    		font-size: 14px;
    		margin-bottom: 3px;
    	}
	}

	.sub-wrapper {
		margin: 0;
		.item-card {
			width: 22%;
			height: 350px;
			&:nth-child(4n) {
				margin-right: 0;
			}		
		}
	}
}
