.viewlistings-wrapper {
	table {
		width: 100%;
		thead {
			border-bottom: solid 3px $subtext-color;
		}
		th {
			text-transform: uppercase;
    		font-weight: $black;
    		padding: 10px 0;
		}
	}
}