* {
	padding: 0;
	margin: 0;
}

.inner-wrapper {
	width: 1200px;
	margin: auto;
}

.sub-container {
	width: 900px;
	margin: auto;
}

.sub-wrapper {
	background: #fff;
	border-radius: 3px;
	padding: 20px;
	margin-top: 30px;
	overflow: auto;
}

ul {
	list-style: none;
	padding: 0;
}

.btn-link, .btn-action {
	border-radius: 3px;
}

.btn-link {

}

.btn-action {

}